VITE_GOOGLE_CLIENT_ID=198004687842-l85cjomcguske22t39it8a5jiepb5qcs.apps.googleusercontent.com
FRONTEND_URL=YOUR_FRONTEND_URL
GOOGLE_CLIENT_ID=198004687842-l85cjomcguske22t39it8a5jiepb5qcs.apps.googleusercontent.com